@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@theme {
    --color-bg-start: #141e30;
    --color-bg-end: #2a5298;

    --font-outfit: "Outfit", sans-serif;

    --text-shadow-home-title: 1px 1px 3px rgba(0,0,0,0.3);
}